# Django configuration
DJANGO_DEBUG=
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=
DJANGO_DATABASE_ENGINE=django.db.backends.postgresql
DJANGO_DATABASE_NAME=
DJANGO_DATABASE_USER=
DJANGO_DATABASE_PASSWORD=
DJANGO_DATABASE_HOST=
DJANGO_DATABASE_PORT=
#Postgresql configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
#Gunicorn configuration
G_ACCESS_LOGS=/home/logs/gunicorn/access.log
G_ERROR_LOGS=/home/logs/gunicorn/error.log